<section>
<%= render "layouts/header" %>
</section>
<section>
<div class="container-fluid signup">
<h1 class="provider-title"><%= @title %></h1>
<p><%= @content %></p>
</div>
</section>
<section id="plans" class="content-plans text-center">
  <div class="container-fluid" id="single_provider">
    <div class="row-fluid">
      <div class="col-md-12 mx-auto">
        <h2 class="plans_list">check out our plans!</h2>
        <p class="pick">pick the plan that works best for you</p>
        </div>
        <div class="row plans">
        <!-- <ul class="list-inline banner-icons"> -->
          <div class="col-xs-6 col-sm-4">
            <div class="card ">
          <div class="card-block">
          <h3 class="card-title">list individual homes for $1/day</h3>
          <p class="card-text">sign up!</p>
          <a href="#" class=" provider_btn btn btn-outline-light">sign up!</a>
          </div>
          </div>
        </div>
          <div class="col-xs-6 col-sm-4">
            <div class="card ">
      <div class="card-block">
        <h3 class="card-title">for up to 5 homes</h3>
        <p class="card-text">info stuff</p>
        <a href="#" class="provider_btn btn btn-outline-light">sign up!</a>
      </div>
    </div>
            <!-- <p class="five_homes">for up to 5 homes</p>
            <button class="btn btn-outline-light">click to sign up</button> -->
          </div>
          <div class="col-xs-6 col-sm-4 ">
            <div class="card ">
          <div class="card-block">
          <h3 class="card-title">specialized plans</h3>
          <p class="card-text">info stuff</p>
          <a href="#" class="provider_btn btn btn-outline-light">sign up!</a>
          </div>

          </div>
</div>
    </div>
  </div>
</section>
<section>
<div class="container-fluid">
  <div class="row provider_summary">
    <%= @paragraph %>
  </div>
</div>
</section>
<%= render "layouts/footer_main" %>
