<% if @blog.errors.any? %>
     <div>
          <p><%= pluralize(@blog.errors.count, "error") %> prevented this blog from saving.</p>
          <ul>
               <% @blog.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
               <% end %>
          </ul>
     </div>
<% end %>
<%= form_for @blog do |f| %>
<p>
  <%= f.label :image %><br>
  <%= f.file_field :image %><br>
</p>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>
<p>
<%=f.label :post %><br>
<%= f.text_area :post, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}%>
</p>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
  <%= f.label :website %><br>
  <%= f.text_field :website %>
</p>
<p>
  <%= f.submit %>
<% end %>
