
<%= render "layouts/header" %>
<header class="masthead1" style="background-image: url('halfring.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>zober blog</h1>
              <span class="subheading">zober stuff</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- <div id="main_content">
  <div id="header_blog">
    <p>all blogs</p>
    <div class="buttons">
      <button class="button"><%= link_to "new blog", new_blog_path %></button>
    </div>
  </div>
</div> -->
<div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">

<% @blogs.each do |blog| %>
<div class="panel">
<p class="date"><%= blog.created_at.strftime("%B, %d, %Y" ) %> </p>
  <h3 class="title"><%= link_to blog.title, blog, class: "blog_link" %> </h3>
  <p><%= truncate(blog.post, length: 550, class: "date") %>   <%= link_to "read more", blog, class: "read-more" %></p>

</div>
<% end %>

</div>
<div id="main_content">
  <div id="header_blog">
    <p>all blogs</p>
    <div class="buttons">
      <button class="button"><%= link_to "new blog", new_blog_path %></button>
      <button class="button"><%= link_to 'Logout', logout_path, method: :delete %></button>
    </div>
  </div>
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
<!-- <p class="signin">admin sign in</p> -->
<%= render 'layouts/footer_main' %>
