
<%= render "layouts/header" %>
<div id="main_content">
  <div id="header_blog">
    <p>all blogs</p>
    <div class="buttons">
      <button class="button"><%= link_to "new blog", new_blog_path %></button>
    </div>
  </div>
</div>
<div class="container-fluid">

<% @blogs.each do |blog| %>
<div class="panel">
 <%= image_tag @blog.image.url, alt:"Image", class: "image-responsive"  %>
  <h2 class="title"><%= link_to blog.title, blog, class: "blog_link" %> </h2>
  <p class="date"><%= blog.created_at.strftime("%B, %d, %Y" ) %> </p>
<% end %>
</div>
<div id="main_content">
  <div id="header_blog">
    <p>all blogs</p>
    <div class="buttons">
      <button class="button"><%= link_to "new blog", new_blog_path %></button>
      <button class="button"><%= link_to 'Logout', logout_path, method: :delete %></button>
    </div>
  </div>
  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
</div>
</div>
<!-- <p class="signin">admin sign in</p> -->
<%= render 'layouts/footer_main' %>
