<div class="container-fluid">
  <%= render 'layouts/header' %>
</div>
<div class="container-fluid">
  <div class="page-wrapper">
    <%= image_tag @blog.image.url, alt:"Image", class: "image-responsive"  %>
<h1 class='title'>
  <%= @blog.title %>
</h1>
<p class="body">
  <%= @blog.post %>
</p>
<p>
  <%= @blog.name %>
</p>
<p>
  <%= @blog.website %>
<p class="date">
  Submitted <%= time_ago_in_words(@blog.created_at) %> ago
  <%= link_to 'edit', edit_blog_path(@blog), class: "edit-link" %>
  <%= link_to 'delete', blog_path(@blog), method: :delete, data:{ confirm: 'are you sure?'}, class: "delete-link" %>
</p>
<p class="body">
  <%= @blog.post %>
</p>
<div id="comments">
  <h2><%= @blog.comments.count %> Comments</h2>
<%= render @blog.comments %>
<h3>add a comment:</h3>
<%= render 'comments/form' %>


</div>
</div>
</div>
<div class="container-fluid">
  <%= render 'layouts/footer_main' %>
</div>
