<h1 class='title'>
  <%= @blog.title %>
</h1>
<p class="body">
  <%= @blog.post %>
</p>
<p>
  <%= @blog.name %>
</p>
<p>
  <%= @blog.website %>
<p class="date">
  Submitted <%= time_ago_in_words(@blog.created_at) %> Ago
</p>
<p class="body">
  <%= @blog.post %>
</p>
