<section>
  <%= render "layouts/header" %>
</section>

<section class="house-display">
  <!-- determine cover image by the properties zipcode -->
  <% if @house.zip_code.to_s.start_with?("80") %>
    <%= image_tag("denver_pic.jpg", :alt => "denver image", :class => 'img-fluid') %>
  <% end %>
  <% if @house.zip_code.to_s.start_with?("94") %>
    <%= image_tag("sf_pic_bridge.jpeg", :alt => "denver image", :class => 'img-fluid') %>
  <% end %>

  <br>
  <div class="row">
    <div class="col-6">
      <img class="img-fluid" src="http://paradeofhomesdenver.com/uploads/homes/da77c29dec3c1340fd7c4d3a59957444_preview.jpg" alt="house-image-1"> 
      <br>
      <img class="img-fluid" src="https://cimg3.ibsrv.net/cimg/www.doityourself.com/400x300_85-1/755/kitchen-island-with-vented-cooktop-156755.jpg" alt="house-image-3"> 
      <br>
      <img class="img-fluid" src="https://odis.homeaway.com/odis/listing/4dd7d862-5129-4665-9233-c8f80c7206c9.c6.jpg"> 
      
    </div>
    <div class="col-6">
      <h3> <%=@house.name%> </h3>
      <h5> <%=@house.property_description%> in <%=@house.city%>. </h5>
      <br>
      <p> Price: <%= number_to_currency(@house.price)%> /  Deposit: <%=number_to_currency(@house.deposit)%> </p>
      <p> Neighborhood: <%=@house.neighborhood%> </p>
      <p> Gender: <%=@house.gender%> Only </p>
      <p> Smoking Policy: <%=@house.smoking_policy%> </p>
      <p> Transportation Available: <%=@house.transportation%> </p>
      <p> Parking: <%=@house.parking%> </p>
      <p> Activities: <%=@house.activities%> </p>
      <p> Room Amenities: <%=@house.room_amenities%> </p>
      <p> Hot Tub: <%=@house.hotttub%> </p>
      <p> Air Conditioning: <%=@house.ac%> </p>
      <p> Heating: <%=@house.heating%> </p>
      <p> TV: <%=@house.tv%> </p>
      <p> Internet: <%=@house.internet%> </p>
      <p> Pets allowed: <%=@house.pets%> </p>
      <p> Capacity: <%=@house.capacity%> </p>
    </div>
  </div>
</section>

<section>
  <%= render "layouts/footer_main" %>
</section>

