<%= render 'layouts/header' %>
<% provide(:title, 'Sign up') %>
<!-- <h1>Sign up</h1>
<p>This will be a signup page for new users.</p> -->
<%# render partial: "layouts/signup_form" //testing the form below for basic signup %>
<div class="mainContent">
<div class="signup container-fluid">
<h1 class="largeHeader">signup</h1>
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_alert">
  <h3><%= pluralize(@user.errors.count, "error")%></h3>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>


  <p>
    <%= f.label :email %> <br>
    <%= f.text_field :email %> <br>
  </p>
  <p>
    <%= f.label :username %> <br>
    <%= f.text_field :username %> <br>
  </p>
  <p>
    <%= f.label :password %> <br>
    <%= f.text_field :password %> <br>
  </p>
  <p>
    <%= f.label :password_confirmation %> <br>
    <%= f.text_field :password_confirmation %> <br>
  </p>
<p>
  <div class="col_2">
    <div class='row-fluid'>
    <h4 class='profile'>upload profile picture</h4>
    <div class="placeholderPic"></div>
    <button href="" class="url btn btn-sm btn-light">choose photo from url</button>
    <button href="" class="computer btn btn-sm btn-light">upload a photo</button>
  </div><!-- end 2 column upload profile pic -->
</div>
</p>
  <p>
    <%= f.submit :"Submit", :class => 'createAccount'%>
  </p>
</div>
</div>
</div>

<% end %>

<%= render 'layouts/modal' %>
<%= render 'layouts/footer_main'%>
