<div class='container-fluid'><%= render 'layouts/header' %>
</div>
<% provide(:title, 'about') %>

<section>
  <div class='container-fluid about'>

<h1 class="about-title">about us!</h1>
<h2 class="about-staff">the staff</h2>
<div class="container-fluid about">
  <div class="card-group">
      <div class="col-sm-4">
  <div class="card text-center about">
  <div class="img-responsive">
    <%=image_tag("tylerstratton.jpg", alt: "tyler", class: "rounded-circle")%>
  </div>
  <div class="card-block about">
    <h4 class="card-title about">Tyler Stratton</h4>
    <p class="card-text">I do stuff.</p>
</div>
  </div>
  </div>

  <div class="col-sm-4">

<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>


  <div class="col-sm-4">
<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle ")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>
</div>
<div class="card-group">
    <div class="col-sm-4">
<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle ")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>
  <div class="col-sm-4">
<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle ")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>
  <div class="col-sm-4">
<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle ")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>
</div>
<div class="card-group">
  <div class="col-sm-4">
<div class="card text-center about">
<div class="img-responsive">
  <%=image_tag("home.png", alt: "home", class: "rounded-circle")%>
</div>
<div class="card-block about">
  <h4 class="card-title about">Tyler Stratton</h4>
  <p class="card-text">I do stuff.</p>
</div>
</div>
</div>
</div>
</div>
</div>

</section>
<%= render 'layouts/footer_main'%>
